*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,
body {
height: 100%;
width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
}
.card{
    width: 300px;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}
.card img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
    
}
.card h2{
    font-size: 28px;
    white-space: nowrap;
}
.card h3{
    font-size: 22px;
    color: crimson;
}
.card p {
    font-size: 15px;
}