* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
height: 100%;
width: 100%;
background-color: black;
}
main{
    height: 100%;
    width: 100%;
    cursor: none;

}
#cursor {
    position: fixed;
    height: 30px;
    transform: translate(-50%,-50%);
}