* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
height: 100%;
width: 100%;
}
html{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121212;
    font-family: 'Poppins', sans-serif;
}
@property --rotate{
      syntax: "<angle>";
      initial-value: 0deg;
      inherits: false;
}
@keyframes borderAnimate{
    form{
        --rotate : 0deg;
    }
    to{
        --rotate : 360deg;
    }
}

.box{
    height: 500px;
    width: 400px;
    border: 5px rgba(255, 255, 255, 0) solid;
    border-radius: 15px;
     padding-inline: 10px;
     padding-bottom: 10px;
    box-shadow: 0 0 50px rgb(255, 0, 123);
    background: linear-gradient(black) padding-box, conic-gradient(from var(--rotate), black,black,black , rgb(255, 0, 123),black) border-box;
    animation:borderAnimate 3s  ;
    animation-iteration-count: infinite;
}
.box img{
   width: 100%;
   object-fit: contain;
  
}
.info{
    color: white;
    
}
.info h2{
    font-size: 18px;
    font-weight: 500;
}
.info p{
    font-size: 15px;
}