* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
height: 100%;
width: 100%;
}
body{
     display: flex;
     justify-content: center;
     align-items:center ;
     background-color: black;
     gap: 30px;
    
}
.box{
    height: 200px;
    width: 200px;
     transition: all 0.3s linear;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.box:hover{
    transform: scale(1.2) !important;
}
body:has(.box:hover) .box{
    transform: scale(0.8);
}