@font-face {
  font-family: fort;
  src: url(./FortalesiaPlain_PERSONAL_USE_ONLY.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right bottom,
    rgb(29, 27, 27),
    rgb(39, 35, 35),
    rgb(21, 19, 19)
  );
  padding: 10px;
}
section {
  height: 100%;
  width: 350px;
  margin: auto;
  border-radius: 10px;
}
#reels-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}
.reels {
  min-height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  scroll-snap-align: start;
  margin-bottom: 10px;
}
.reels > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.admin-details {
  position: absolute;
  bottom: 0;
  padding: 10px;
  height: auto;
  width: 100%;
  border-radius: 10px;
  color: whitesmoke;
  background: linear-gradient(transparent, black);
}
.mute{
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  top: 10%;
  right: 10px;
  border-radius: 50%;
}
.mute i{
  font-size: 35px;
  color: white;
  cursor: pointer;
  pointer-events: none;
}
.mute:hover{
   background-color: rgba(255, 255, 255, 0.2);
}
.profile {
  display: flex;
  height: 80px;
  width: 90%;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.profile > button {
  padding: 10px 30px;
  background: transparent;
  border: 2px white solid;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: black;
  border: 2px rgb(137, 135, 135) solid;
}
.profile-img {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.img-container {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: black;
  overflow: hidden;
}
.img-container > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.profile-img > h3 {
  font-size: 23px;
  font-family: fort;
  cursor: pointer;
}
.caption {
  font-size: 18px;
  font-weight: 400;
  
}
.engage {
  position: absolute;
  right: 5%;
  bottom: 20%;
  height: auto;
  width: 30px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.engage > h3 {
  font-size: 15px;
  font-weight: 400;
}
.engage>div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
  cursor: pointer;
}
.engage>div>h3{
 pointer-events: none;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  padding: 3px;
  pointer-events: none;
}
.icon > i {
  font-size: 35px;
}
.icon:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.like{
    color: red;
}
