* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  background-color: black;
}
#nav {
  height: 10%;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 18px;
  font-weight: 900;
}
#hero {
  height: 80%;
  background-image: url(https://www.apple.com/v/iphone-17-pro/c/images/overview/welcome/hero__bdntboqignj6_large_2x.jpg);
  background-position: top;
  background-size: cover;
  margin-top: 20px;
}
#message{
    color: white;
    height: 6%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
