* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
height: 100%;
width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 250px;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}
.card span{
    color: royalblue;
}
.card h2{
    text-align: center;
    font-weight: 600;
}
.outer{
    height: 20px;
    width: 100%;
    background-color: gray;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.inner{
   height: 100%;
   width: 0%;
   background-color: rgb(6, 171, 6);
   border-radius: 20px;
}

.details{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
button{
    padding: 20px 35px;
    background-color: green;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
button:active{
    transform: scale(0.95);
}